@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap"); //

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");
.about-us-home {
  font-family: "Aboreto", serif;
  padding: 16px;
  @include tablet {
    padding: 32px;
  }
  @include tablet2 {
    margin-top: 64px;
  }
  &__content {
    @include tablet2 {
      max-width: 1280px;
      margin: auto;
      display: flex;
      gap: 16px;
    }
  }
  &__text-container {
    padding: 16px 0px;
    margin-bottom: 16px;

    &--header {
      color: $darkBlue;
      font-size: 20px;
      font-weight: 900;
      margin-bottom: 16px;
      @include tablet2 {
        font-size: 24px;
      }
    }
    &--body {
      color: $darkBlue;
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      line-height: 22px;
      @include tablet {
        font-size: 18px;
      }
    }
  }
  &__book-button-container {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    &--button {
      font-size: 16px;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      padding: 16px 16px;
      border-radius: 32px;
      max-width: 180px;
      background-color: $darkBlue;
      border: 1px solid $white1;
      color: $white2;
    }
    &--button:hover {
      background-color: $white2;
      border-color: $darkBlue;
      color: $darkBlue;
    }
  }

  &__image-container {
    display: none;
    @include tablet2 {
      display: flex;
      &--img {
        height: 600px;
        object-fit: cover;
      }
    }
  }
}
