// breakpoints and margins
$mobile-margin: 16px;

$mobile-width: 320px;
$mobile-width2: 390px;

$tablet-width: 767px;
$tablet-width2: 950px;
$tablet-margin: 32px;
$tablet-gutter: 24px;

$desktop-width: 1280px;
$desktop-width2: 1500px;
$desktop-gutter: 24px;

$hero-min-height: 400px;
$viewPortMinHeight: 585px;
$viewPortMaxHeight: 1000px;

$mobileDivider: 40px;
$tabletDivider: 50px;
$desktopDivder: 100px;

$heroSocialHeight: 700px;
$mBlue: #031926;
$tealBlue: #468189;
$greenScreen: #77aca2;
$cambridgeBlue: #9dbebb;
$champagne: #f4e9cd;
$intagram: #833ab4;
$tiktok: #fe2c55;
$blackMain: #0d141a;
$darkBlue: #21272e;
$darkGray: #56585e;
$blueGray: #b8c0cc;
$armyBlue: #617da1;
$white1: #ffffff;
$white2: #eff2f9;
