@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap"); //

.book-button-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  &__button {
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 16px;
    border-radius: 32px;
    max-width: 180px;
    background-color: $darkBlue;
    border: 1px solid $white1;
    color: $white2;
  }
  &__button:hover {
    background-color: $white2;
    border-color: $darkBlue;
    color: $darkBlue;
  }
}
