@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap"); //

.service-home-page {
  padding: 16px;
  margin-top: 16px;

  // &__content {
  //   @include tablet {
  //     display: flex;
  //     gap: 16px;
  //   }
  // }

  &__header {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 64px;
    @include tablet {
      width: 400px;
      margin: auto;
      margin-top: 64px;
      margin-bottom: 64px;
    }
  }
}

.image-text-container {
  margin-bottom: 200px;
  position: relative;
  &__image {
    display: block;
    border-radius: 20px;
    height: 350px;
    object-fit: cover;
    @include tablet {
      width: 400px;
      margin: auto;
    }
  }
  &__texts {
    position: absolute;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    top: 88%;
    z-index: 80;
    background-color: $darkBlue;
    color: $white2;
    text-align: center;
    line-height: 32px;
    padding: 16px;
    width: 94%;
    @include tablet {
      width: 350px;
    }
    &--header {
      font-size: 32px;
    }
    &--body {
      font-size: 15px;
      margin-bottom: 20px;
    }
  }
}
