@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap"); //

.contacts {
  background-image: url("../../assets/images/nano-salon.jpg");
  background-size: cover;
  margin-top: 16px;
  &__content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 16px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__header {
    font-size: 16px;
    text-align: center;
    color: $white1;
    border-bottom: 1px solid $white1;
    padding-bottom: 4px;
  }
  &__booking-info {
    font-weight: bold;
    font-size: 14px;
    color: $white1;
    line-height: 24px;
    text-align: center;

    padding: 16px;
    margin-bottom: 16px;
    &--phone-number {
      display: block;
      font-family: "Roboto", sans-serif;
      color: $darkBlue;
      background-color: $white1;
      width: fit-content;
      padding: 5px 10px;
      margin: auto;
      margin-top: 16px;
    }
  }
}
