@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables";
.header {
  background-color: rgba(239, 242, 249, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  // SHOW NAV BUTTON
  &__show-nav-wrapper {
    display: flex;
    justify-content: flex-end;

    padding: 16px;
    z-index: 100;
    @include tablet {
      display: none;
    }
    &--brand-name {
      color: $blackMain;
      text-transform: uppercase;
      font-weight: normal;
      position: relative;
      z-index: 200;
    }
    &--button {
      height: 35px;
      width: 35px;
      color: $blackMain;
      position: relative;
      z-index: 200;
    }
  }
  // BEFORE SCROLL
  &__before-scroll {
    display: flex;
    justify-content: space-between;

    padding: 16px;
    // @include tablet {
    //   top: 0;
    // }
    &--birth-year {
      font-size: 13px;
      font-weight: normal;
      text-transform: uppercase;
      color: $tealBlue;
    }
    &--address-top {
      font-size: 13px;
      font-weight: normal;
      text-align: right;
      text-transform: uppercase;
      color: $tealBlue;
    }
    // Postal code
    &--postal-code {
      display: none;
      @include tablet {
        display: inline;
      }
    }
  }
}
// DYNAMIC JS CLASS
.white-background {
  background-color: $white1;
}
