@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables";
.header {
  padding: 16px;
  background-color: $champagne;
  position: absolute;
  bottom: 0;
  left: 0;
  // BEFORE SCROLL
  &__before-scroll {
    display: flex;
    justify-content: space-between;
    &--birth-year {
      font-size: 13px;
      font-weight: normal;
      text-transform: uppercase;
      color: $tealBlue;
    }
    &--address-top {
      font-size: 13px;
      font-weight: normal;
      text-align: right;
      text-transform: uppercase;
      color: $tealBlue;
    }
    // Postal code
    &--postal-code {
      display: none;
      @include tablet {
        display: inline;
      }
    }
  }
  // AFTER SCROLL
  &__after-scroll {
    display: none;
  }
}
