@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables";
.header {
  background-color: rgba(239, 242, 249, 0.5);
  background-color: $white1;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 16px;
  @include tablet {
    padding: 0px 32px;
    display: flex;
  }
  // SHOW NAV BUTTON
  &__show-nav-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 100;
    // @include tablet {
    //   display: none;
    // }
    &--brand-name {
      color: $darkBlue;
      // color: $blackMain;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: normal;
      position: relative;
      z-index: 200;
    }
    &--open-button,
    &--close-button {
      height: 35px;
      width: 35px;
      color: $darkBlue;
      position: relative;
      z-index: 200;
      @include tablet {
        display: none;
      }
    }
    &--open-button {
      height: 33px;
      width: 33px;
    }
    &--close-button {
      display: none;
    }
    // JS DYNAMIC CLASS
    .display-block {
      display: block;
    }
    .display-none {
      display: none;
    }
  }
  // HEADER BUTTON CONTAINER
  &__button-container {
    width: fit-content;
  }
  //LINKS
  &__links {
    padding-top: 32px;
    background-color: $white1;
    display: none;
    @include tablet {
      display: flex;
      padding: 16px 0px;
    }
  }
  // JS DYNAMIC CLASS
  .display-block {
    display: block;
  }
  &__link-container {
    @include tablet {
      display: flex;
      justify-content: flex-end;
      gap: 16px;
    }
    &--link {
      display: block;
      color: $darkBlue;
      font-size: 14px;
      font-weight: bold;
      text-align: right;
      text-decoration: none;
      line-height: 32px;
      @include tablet {
        width: fit-content;
      }
    }
  }
}
// DYNAMIC JS CLASS
.white-background {
  background-color: $white1;
}
