@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap"); //

.main-services {
  //   padding: 16px;
  padding-top: 30%;
  background-color: #000000;
  &__header {
    color: $white2;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    line-height: 28px;
    padding: 16px;
    margin-bottom: 32px;
    &--salon-name {
      font-size: 20px;
      font-weight: bold;
    }
  }

  // images container
  &__Hair-container,
  &__Brow-container,
  &__Waxing-container {
    display: flex;
    justify-content: flex-start;
  }
  &__Lash-container,
  &__Beard-container,
  &__Facial-container {
    display: flex;
    justify-content: flex-end;
  }
  &__list-item {
    position: relative;
    height: fit-content;
    &--image {
      object-fit: cover;
      height: 270px;
      width: 270px;
    }
    &--texts {
      background-color: #000000;
      position: absolute;
      width: 300px;
      padding: 16px;
    }

    // INDIVIDUAL TEXT CONTAINER

    &--Hair-texts,
    &--Brow-texts,
    &--Waxing-texts {
      top: 80%;
      left: 20%;
    }
    &--Lash-texts,
    &--Beard-texts,
    &--Facial-texts {
      top: 80%;
      right: 20%;
    }
    &--category {
      color: $white2;
      font-size: 14px;
      font-weight: bold;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 1px solid $white2;
    }
  }
  &__list-item:nth-child(1) {
    margin-bottom: 720px;
  }
  &__list-item:nth-child(2) {
    margin-bottom: 165px;
  }
  &__list-item:nth-child(3) {
    margin-bottom: 330px;
  }
  &__list-item:nth-child(4) {
    margin-bottom: 110px;
  }
  &__list-item:nth-child(5) {
    margin-bottom: 280px;
  }
  &__list-item:nth-child(6) {
    margin-bottom: 100px;
  }

  // Service details
  //   &__service-detail-container{

  //   }
  &__service-detail-content {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 1.5px 0px;
    // border-bottom: 1px solid $blueGray;

    &--name {
      font-size: 13px;
      line-height: 18px;
      font-family: "Roboto", sans-serif;
      text-transform: capitalize;
      color: $white2;
    }
    &--price {
      font-size: 12px;
      line-height: 18px;
      //   font-family: "Roboto", sans-serif;
      //   font-weight: normal;
      color: $white2;
    }
    &--duration {
      font-size: 12px;
      line-height: 18px;
      //   font-family: "Roboto", sans-serif;
      //   font-weight: normal;
      color: $white2;
    }
  }
}
