@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap"); //

.main-services {
  padding: 16px;
  padding-top: 30%;
  &__header {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 32px;
  }
}
