@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap"); //

.homepage-service-lists {
  margin-top: 16px;
  &__header {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 16px;
    color: $darkBlue;
  }
  &__list-container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__list {
    background-color: rgba(0, 0, 0, 0.6);
    height: 120px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--header {
      color: $white2;
      font-size: 16px;
      font-weight: normal;
      padding: 5px 0px;
      border-bottom: 1px solid $white2;
    }
    &--body {
      font-size: 13px;
      //   font-family: "Roboto", sans-serif;
      color: $white2;
      padding: 5px 0px;
    }
  }
  &__list-container:nth-child(2) {
    background-image: url("../../assets/images/waxing.jpg");
  }
  &__list-container:nth-child(3) {
    background-image: url("../../assets/images/hair-cut.jpg");
  }
  &__list-container:nth-child(4) {
    background-image: url("../../assets/images/lash-extension.jpg");
  }
  &__list-container:nth-child(5) {
    background-image: url("../../assets/images/hair-color.jpg");
  }
  &__list-container:nth-child(6) {
    background-image: url("../../assets/images/bearding.jpg");
  }

  // BUTTON
  &__button-container {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
    &--button {
      display: block;
      font-size: 16px;
      font-weight: 800;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none;
      padding: 16px 16px;
      border-radius: 32px;
      max-width: 180px;
      border: 1px solid $darkBlue;
      color: $darkBlue;
    }
    &__button:hover {
      background-color: $white2;
      border-color: $darkBlue;
      color: $darkBlue;
    }
  }
}
